<div class="grid h-full grid-cols-1 md:grid-cols-2">
  <div
    class="overflow-hidden shadow-xl motion-delay-200 intersect:motion-preset-fade intersect:motion-preset-slide-right"
  >
    <img
      class="aspect-auto min-h-full object-cover"
      src="/assets/portrait.jpeg"
      alt=""
    />
  </div>

  <div
    class="flex flex-col justify-center p-10 motion-delay-75 intersect:motion-preset-fade intersect:motion-scale-in-50"
  >
    <div class="h-fit text-lg">
      <p class="mb-3">
        Nostrud officia fugiat in duis labore. Irure adipisicing Lorem
        consectetur nisi do incididunt eu labore. Velit dolore et mollit ad sunt
        cillum aliqua aliqua. Cillum laboris ipsum officia ad Lorem veniam ad
        cupidatat exercitation nulla nulla ex aliqua.
      </p>
      <p>
        Nostrud officia fugiat in duis labore. Irure adipisicing Lorem
        consectetur nisi do incididunt eu labore. Velit dolore et mollit ad sunt
        cillum aliqua aliqua. Cillum laboris ipsum officia ad Lorem veniam ad
        cupidatat exercitation nulla nulla ex aliqua.
      </p>
    </div>
  </div>
</div>
