---
import { Image } from 'astro:assets';

import portraitImg from '../../assets/portrait.jpeg';
---

<div class="grid h-full grid-cols-1 md:grid-cols-2">
	<div
		class="overflow-hidden motion-delay-200 intersect:motion-preset-fade md:intersect:motion-preset-slide-right max-md:pt-8 max-md:intersect:motion-scale-in-50 md:shadow-xl"
	>
		<div
			class="mx-auto aspect-auto h-full overflow-hidden max-md:aspect-square max-md:rounded-full md:min-h-full md:object-cover"
		>
			<Image
				class="aspect-auto min-h-full object-cover"
				src={portraitImg}
				alt="A man with glasses and a beard wearing a black zip-up hoodie stands in front of a decorative fountain in what appears to be an outdoor plaza or courtyard, with buildings and orange umbrellas visible in the background."
			/>
		</div>
	</div>

	<div
		class="flex flex-col justify-center p-10 motion-delay-75 intersect:motion-preset-fade intersect:motion-scale-in-50"
	>
		<div
			class="h-fit text-center text-lg leading-6 md:text-left [&>*:not(:last-child)]:mb-4"
		>
			<p>
				I'm a full-stack web developer with a passion for crafting engaging
				experiences, and building robust back-end services. I'm always eager to
				learn, and looking to expand my skills on the web, macOS, and beyond!
			</p>
			<p>
				My professional background includes building internal CRM tools,
				crafting mobile-friendly public-facing websites, and connecting these
				products to various external web services via API.
			</p>
			<p>
				When I'm not writing code, you can find me playing board games, writing,
				and collecting vinyl records.
			</p>
		</div>
	</div>
</div>
