---
import { Image } from 'astro:assets';

import portraitImg from '../../assets/portrait.jpeg';
---

<div class="grid h-full grid-cols-1 md:grid-cols-2">
	<div
		class="flex-col items-center justify-center overflow-hidden motion-delay-200 intersect:motion-preset-fade md:intersect:motion-preset-slide-right max-md:flex max-md:pt-8 max-md:intersect:motion-scale-in-50 md:shadow-xl"
	>
		<div
			class="overflow-hidden max-md:mx-auto max-md:aspect-square max-md:max-w-56 max-md:rounded-full md:aspect-auto md:h-full md:min-h-full md:object-cover"
		>
			<Image
				class="aspect-auto min-h-full w-full object-cover"
				src={portraitImg}
				loading="lazy"
				alt="A man with glasses and a beard wearing a black zip-up hoodie stands in front of a decorative fountain in what appears to be an outdoor plaza or courtyard, with buildings and orange umbrellas visible in the background."
			/>
		</div>
	</div>

	<div
		class="flex flex-col justify-center p-10 motion-delay-75 intersect:motion-preset-fade intersect:motion-scale-in-50"
	>
		<div
			class="h-fit text-center text-lg leading-6 md:text-left [&>*:not(:last-child)]:mb-4"
		>
			<p>
				I&#8217;m a full-stack web developer who loves building things that look
				good, work well, and make people&#8217;s lives a little easier. Whether
				it&#8217;s a slick user interface or a rock-solid back end, I&#8217;m
				always up for the challenge&mdash;and always learning something new,
				whether it&#8217;s on the web, macOS, or wherever the next rabbit hole
				leads.
			</p>
			<p>
				I&#8217;ve built everything from internal CRM tools to mobile-friendly
				websites, all wired up to external services with a healthy dose of API
				magic.
			</p>
			<p>
				When I&#8217;m not coding, you&#8217;ll probably find me deep in a board
				game, scribbling story ideas, or digging through crates for my next
				favorite vinyl.
			</p>
		</div>
	</div>
</div>
