---
import SplitSection from '../layouts/SplitSection.astro';
import ContactForm from '../forms/ContactForm.tsx';
---

<SplitSection>
	<h2
		slot="left-side"
		class="motion-delay-100 intersect:motion-preset-fade intersect:motion-preset-slide-right my-2 text-center text-xl font-light md:my-7 md:text-4xl md:font-thin"
	>
		Hello, world!
	</h2>
	<p
		slot="left-side"
		class="motion-delay-200 intersect:motion-preset-fade intersect:motion-preset-slide-right"
	>
		I'd love to hear from you! Whether you have a question, want to collaborate
		on a project, or just want to say hello, don't hesitate to reach out. You
		can contact me using the form{' '}
		<span class="max-md:hidden">on the right</span>
		<span class="md:hidden">below</span>, and I'll get back to you as soon as
		possible.
	</p>
	<ContactForm slot="right-side" client:visible />
</SplitSection>
