---
import { Icon } from 'astro-icon/components';
---

<div class="text-center">
	<p class="text-xl intersect:motion-preset-fade intersect:motion-scale-in-50">
		Made with <Icon
			name="heart-solid"
			class="inline text-red-500 intersect:motion-preset-pulse intersect:motion-loop-twice"
		/> in Rhode Island.
	</p>

	<p
		class="text-xl delay-500 intersect:motion-preset-fade intersect:motion-scale-in-50"
	>
		Built with <a class="underline" href="https://astro.build/" target="_blank"
			>Astro</a
		>.
	</p>
</div>
