---
import clsx from 'clsx';

import { projects } from '../../data/projects';
import SocialButton from '../ui/SocialButton.astro';
import { getDelay } from '../../utils/getDelay';
---

<div class="intersect:motion-preset-fade intersect:motion-scale-in-50 m-7">
	<p class="text-center">
		My passion is building cool things, and these are just some of the projects
		that I'm most proud of.
	</p>
</div>
<div class="mx-4 grid gap-4 lg:grid-cols-2">
	{
		projects.map((project, i) => (
			<div
				class={clsx(
					'card intersect:motion-preset-fade intersect:motion-preset-slide-up',
					getDelay(i)
				)}
			>
				<div class="mb-3 flex justify-between">
					<h3 class="text-xl font-bold">{project.name}</h3>
					<div class="flex gap-3">
						<SocialButton
							href={project.url}
							name="Live Project"
							icon="link-solid"
						/>
						<SocialButton
							href={project.github}
							name="Source Code"
							icon="code-solid"
						/>
					</div>
				</div>
				<p>{project.summary}</p>
				<p class="my-3 text-slate-500">Skills: {project.skills.join(', ')}</p>
			</div>
		))
	}
</div>
