---
import { projects } from '../../data/projects';
---

<div>
	{
		projects.map((project) => (
			<div class="m-4 rounded-md border border-gray-200 p-3">
				<div class="flex justify-between">
					<h3 class="text-xl font-bold">{project.name}</h3>
					<a href={project.github}>See Code on GitHub</a>
				</div>
				<p>{project.summary}</p>
				<p class="text-slate-500">Skills: {project.skills.join(', ')}</p>
			</div>
		))
	}
</div>
