---
import clsx from "clsx";
import type { SocialButtonProps } from "../../types";
import SocialButton from "../SocialButton.astro";

const socials: SocialButtonProps[] = [
  {
    name: "GitHub",
    icon: "social/github",
    href: "https://github.com/ghall89",
    delay: "motion-delay-500",
  },
  {
    name: "LinkedIn",
    icon: "social/linkedin",
    href: "https://www.linkedin.com/in/ghalldev/",
    delay: "motion-delay-700",
  },
];
---

<>
  <div
    class="bg-ghall-green overflow-hidden rounded-full w-80 intersect:motion-preset-fade intersect:motion-scale-in-50"
  >
    <div
      class="intersect:motion-preset-fade intersect:motion-scale-in-75 motion-delay-100"
    >
      <img src="/assets/avatar.jpeg" alt="" />
    </div>
  </div>
  <div
    class="mt-4 text-center intersect:motion-preset-fade intersect:motion-scale-in-75 motion-delay-200"
  >
    <h1 class="text-6xl font-thin">Graham Hall</h1>
    <h2 class="text-2xl font-semibold">Web & Software Developer</h2>
  </div>
  <div class="mx-auto flex w-fit gap-4 p-7">
    {
      socials.map(({ name, icon, href, delay }) => (
        <div
          class={clsx(
            "intersect:motion-preset-fade intersect:motion-scale-in-75",
            delay
          )}
        >
          <SocialButton name={name} icon={icon} href={href} />
        </div>
      ))
    }
  </div>
</>
