---
import clsx from 'clsx';
import { Icon } from 'astro-icon/components';

const skills: {
	[key: string]: {
		label: string;
		icon: string;
	}[];
} = {
	Languages: [
		{ label: 'JavaScript', icon: 'javascript' },
		{ label: 'TypeScript', icon: 'typescript' },
		{ label: 'Swift', icon: 'swift' },
	],
	'Front-End': [
		{ label: 'NextJS', icon: 'nextjs' },
		{ label: 'Astro', icon: 'astrojs' },
		{ label: 'CSS', icon: 'css' },
		{ label: 'Tailwind', icon: 'tailwind' },
	],
	'Back-End': [
		{ label: 'PostgreSQL', icon: 'postgresql' },
		{ label: 'Prisma', icon: 'prisma' },
		{ label: 'Drizzle', icon: 'drizzle' },
		{ label: 'Node', icon: 'nodejs' },
		{ label: 'Express', icon: 'express' },
	],
};

const delay = [
	'motion-delay-200',
	'motion-delay-300',
	'motion-delay-[400ms]',
	'motion-delay-[500ms]',
	'motion-delay-[600ms]',
];
---

<div>
	<div class="grid grid-cols-1 justify-items-center lg:grid-cols-2">
		{
			Object.keys(skills).map((key) => (
				<div class="col-span-1 m-5 intersect:motion-preset-fade intersect:motion-scale-in-50 last:odd:md:col-span-2">
					<div class="mx-auto max-w-[300px] p-3">
						<h2 class="mb-4 text-center text-xl font-light">{key}</h2>
						<ul class="flex flex-wrap justify-center">
							{skills[key].map((skill, i: number) => (
								<li
									class={clsx(
										'm-2 flex w-fit items-center gap-2 rounded-full border border-gray-200 bg-white/90 px-4 py-1 text-slate-700 intersect:motion-preset-fade intersect:motion-scale-in-50 last:odd:md:col-span-2',
										delay[i]
									)}
								>
									<Icon name={`skills/${skill.icon}`} />
									{skill.label}
								</li>
							))}
						</ul>
					</div>
				</div>
			))
		}
	</div>
</div>
