<div class="grid h-full grid-cols-1 md:grid-cols-2">
	<div
		class="flex h-full flex-col justify-center bg-ghall-green p-5 text-white max-md:text-center md:p-10"
	>
		<slot name="left-side" />
	</div>
	<slot name="right-side" />
</div>
