---
import clsx from 'clsx';

import Layout from '../layouts/Layout.astro';
import { sections } from '../data/sections';
---

<Layout>
	{
		sections.map(({ Component, key, greenBackdrop }) => (
			<section
				id={key}
				x-intersect={`activeTab = '${key}'`}
				class={clsx(
					'relative mb-16 flex h-dvh w-full shrink-0 snap-start flex-col items-center justify-center overflow-hidden last:mb-0',
					greenBackdrop
						? 'bg-ghall-green text-white'
						: 'bg-background text-foreground'
				)}
			>
				<Component />
			</section>
		))
	}
</Layout>
