---
import { Icon } from "astro-icon/components";

import type { SocialButtonProps } from "../types";

const props = Astro.props as SocialButtonProps;
---

<a
  href={props.href}
  aria-label={props.name}
  target="_blank"
  class="group hover:border-ghall-green/20 flex aspect-square size-10 items-center justify-center rounded-full border border-gray-200 bg-white transition-all hover:scale-110 hover:shadow-sm"
>
  <Icon
    class="group-hover:text-ghall-green text-2xl transition-colors"
    name={props.icon}
  />
</a>
