---
import { sections } from '../../data/sections';
import MobileNav from './MobileNav.astro';
import NavBar from './NavBar.astro';

const navLinks = sections.filter(({ key }) => key !== 'footer');
---

<nav class="absolute top-0 z-50 h-fit w-dvw">
	<MobileNav navLinks={navLinks} />
	<NavBar navLinks={navLinks} />
</nav>
